// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

//$header-bg: #263347;
//$subtitle-color: lighten($header-bg, 58);
//$nav-bg: desaturate(lighten(#8fc17a, 18), 5);
//$sidebar-bg: desaturate(#eceff5, 8);
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);

/* oh no sequences! color scheme */
/* old cyan; name from http://www.colourlovers.com/color/3E7077/old_cyan */
$OldCyan: #3e7f89;
$OldCyan-Dark: #266871;
$OldCyan-Light: #569ca6;
$OldCyan-Matte: #3e7178;
$OldCyan-MatteLight: #5f9ea6;
/* light amber (if someone has a better name for it, I'm all ears) */
$LightAmber: #dfb862;
$LightAmber-Dark: #b8913d;
$LightAmber-Light: #e7c376;
$LightAmber-Matte: #c3a564;
$LightAmber-MatteLight: #e7c783;
/* salmon */
$Salmon: #df6b62;
$Salmon-Dark: #b8463d;
$Salmon-Light: #e77e76;
$Salmon-Matte: #c36b64;
$Salmon-MatteLight: #e78a83;
/* grey */
$Grey: #585858;
$Grey-Light: #818181;
$Grey-Dark: #414141;
$Grey-Darkest: #333333;
/* off-white */
$OffWhite: #fdfdfd;
$OffWhite-Dark: #eaeaea;
$OffWhite-Darkest: #dedede;
$OffWhite-Matte: #f9f9f9;
$OffWhite-MatteDark: #f2f2f2;


/* Main Section Colors */
$main-bg: $OffWhite-Matte;
$page-bg: $OffWhite-Darkest;
$article-border: $OffWhite-Dark;

/* header */
$header-bg: $Grey-Darkest;
$title-color: $OldCyan-MatteLight;
$subtitle-color: $LightAmber-Matte;

// Navigation
$nav-bg: $OldCyan-MatteLight;
$nav-color: $OffWhite-Matte;//$OldCyan-Dark;
// footer
$footer-bg: $OldCyan-MatteLight;
$footer-color: $OldCyan-Dark;


// Sidebar
$sidebar-bg: $OffWhite-MatteDark;
//$sidebar-color: $OffWhite-Dark;

// text
$text-color: $Grey;
$text-color-light: $Grey-Light;


// Main Link Colors
$link-color: $OldCyan;
$link-color-visited: $Salmon-Matte;


/* To use the light Solarized highlighting theme uncomment the following line */
$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
//$base03:          #002b36; //darkest blue
//$base02:          #073642; //dark blue
//$base01:          #586e75; //darkest gray
//$base00:          #657b83; //dark gray
//$base0:           #839496; //medium gray
//$base1:           #93a1a1; //medium light gray
//$base2:           #eee8d5; //cream
//$base3:           #fdf6e3; //white
//$solar-yellow:    #b58900;
//$solar-orange:    #cb4b16;
//$solar-red:       #dc322f;
//$solar-magenta:   #d33682;
//$solar-violet:    #6c71c4;
//$solar-blue:      #268bd2;
//$solar-cyan:      #2aa198;
//$solar-green:     #859900;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
