// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


// no underlines for links
a {
	text-decoration: none;
}

// ems with light grey
body em {
	color: $text-color-light;
}